<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="logout"> </div>
<br>
<h1>Все расходы на пользователя</h1>
<table>
    <div th:if="${#lists.isEmpty(expenses)}">
        <p>Нет расходов на пользователя.</p>
    </div>
    <div th:if="${!expenses.isEmpty()}">
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Income</th>
            <th>Target</th>
        </tr>
        <tr th:each="expense: ${expenses}">
            <td th:text="${expense.user.email}"></td>
            <td th:text="${expense.user.name}"></td>
            <td th:text="${expense.user.lastname}"></td>
            <td th:text="${expense.amount}"></td>
            <td th:text="${expense.target}"></td>
        </tr>
    </div>
</table>
</body>
</html>