<!DOCTYPE html>
<html>
<head>
    <title>Заявка на получение денег</title>
</head>
<body>
<div th:replace="logout"> </div>
<br>
<h1>Заявка на получение денег</h1>
<form action="#" th:action="@{/receivingMoneyApplication}" method="post" th:object="${receivingMoneyApplication}">
    <label for="amount">Сумма:</label><br>
    <input type="number" id="amount" name="amount" step="0.01" th:field="*{amount}" required/><br>
    <div style="color:red" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">amount error</div>

    <label for="purpose">Цель:</label><br>
    <input type="text" id="purpose" name="purpose" th:field="*{target}" required><br><br>
    <div style="color:red" th:if="${#fields.hasErrors('target')}" th:errors="*{target}">target error</div>

    <button type="submit">Отправить заявку</button>
</form>
</body>
</html>